node_modules
.env
*.log
functions/firebase-debug.log
functions/firestore-debug.log
functions/emulated_data/firestore_export/firestore_export.overall_export_metadata
functions/emulated_data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
functions/emulated_data/firestore_export/all_namespaces/all_kinds/output-0
functions/firebase-debug.log
functions/firestore-debug.log
functions/emulated_data/firebase-export-metadata.json
functions/emulated_data/auth_export/accounts.json
functions/emulated_data/auth_export/config.json
functions/emulated_data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
functions/emulated_data/firestore_export/all_namespaces/all_kinds/output-0
functions/firebase-debug.log
functions/firebase-debug.log
functions/emulated_data/firebase-export-metadata.json
