.login__wrapper {
  background-color: var(--secondary);
  padding: 40px;
}

.login__form-container {
  max-width: 500px;
  width: 100%;
}

.login__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
