.dashboard {
  background-color: var(--dark);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--light);
}

.dashboard .dashboard__link {
  color: var(--primary);
}

.dashboard__logo {
  width: 100%;
  max-width: 600px;
  pointer-events: none;
}

.dashboard__link:visited {
  color: var(--primary);
}

@media (prefers-reduced-motion: no-preference) {
  .dashboard__logo {
    animation: Dashboard-logo-spin infinite 20s linear;
  }
}
