.not-found__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding: 30px;
}

.not-found__wrapper h1,
.not-found__wrapper p {
  text-align: center;
}
