nav {
  padding: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

nav a button {
  text-decoration: none;
  color: aliceblue;
}

nav a {
  text-decoration: none;
}

.layout__absolute-nav {
  position: absolute;
  width: 100%;
  padding: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
