.spinner__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  height: 0;
  overflow: hidden;
}

.spinner__container.active {
  opacity: 1;
  height: auto;
  min-height: 100vh;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.spinner__container .css-z0wqqa {
  background-color: var(--ion-color-primary);
}

.spinner__container .css-hhm1rf {
  background-color: var(--ion-color-secondary);
}
